body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #69d6ff, #a7f5b3);
    margin: 0;
    padding: 30px;
}

.container {
    max-width: 700px;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #0047ab;
}

.subtitle {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

input {
    width: 100%;
    padding: 10px;
    margin: 7px 0 15px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

button {
    background: #0047ab;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #003480;
}

.result {
    margin-top: 15px;
    padding: 15px;
    background: #e8f7ff;
    border-radius: 10px;
    border: 1px solid #9ad6ff;
    display: none;
    font-size: 15px;
}
